* {
    margin: 0px;
    padding: 0px;
}
#wrapper{
    /*outline: 2px dotted red;*/
    width: 1000px;
    min-height: 500px;
    background-color: tan;
    padding: 20px;
}
h1{
    font-weight: bolder;
    font-size: 45px;
    text-align: center;
    height: 100;
    width: 950px;
    outline: 4px solid black;
    padding: 10px 0px;
    margin-bottom: 5px;
    margin-left: 25px;
}
#images{
    /*outline: 2px dotted purple;*/
    width: 940px;
    min-height: 400px;
    margin-left: 25px;
    padding-left: 10px;
    display: block;
}
div{
    display: inline-block;
}
    img{
        width: 140px;
    }
    .blue{
        padding:15px 15px 12px 15px;
        border: 4px solid black;
        margin:2px;
        background-color: rgb(95, 179, 248);
    }
    .red{
        padding:15px 15px 12px 15px;
        border: 4px solid black;
        margin:2px;
        background-color: rgba(255, 0, 0, 0.596);
    }